<apex:page standardController="litify_pm__Matter__c" lightningStylesheets="false" docType="html-5.0" title="Matter Printable View">
    <script src="/canvas/sdk/js/43.0/publisher.js" type="text/javascript"></script>
    <style>
        .btn{display:none;}
    .actionColumn{display:none;}
    </style>
    <apex:detail subject="{!litify_pm__Matter__c.Id}" relatedList="true" title="false" />
        <script>
        document.addEventListener("DOMContentLoaded", function(event) { 
            window.print();

            window.addEventListener("afterprint", function(event) {
            	Sfdc.canvas.publisher.publish({name : 'publisher.close', payload : {refresh:false}});
            });        
        });     
    </script>
</apex:page>